body {
    background: rgb(2,0,36);
    font-family: 'Raleway', sans-serif;
}

.team-heading {
    padding-top: 50px;
    color: lightgrey;
    text-shadow: 2px 2px 4px black;
}

.card-header {
    background: rgb(50, 165, 241);
    font-weight: bolder;
}

.row {
    margin-bottom: 5rem;
}

.employee-card {
    margin-right: 1rem;
    margin-left: 1rem;
    border: none;
    font-weight: bolder;
    box-shadow: 0 2px 4px 0 rgb(27, 24, 24), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.list-group-item {
    border: none;
    text-align: center;
}