body {
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgb(46, 58, 78) 0%, rgb(43, 79, 126)28%, rgb(50, 76, 122) 35%, rgb(32, 64, 112) 54%, rgb(4, 53, 63) 100%);
    font-family: 'Raleway', sans-serif;
}

.team-heading {
    padding-top: 50px;
    opacity: 100%;
    color: lightgrey;
    text-shadow: 2px 2px 4px #000000;
}

.card-header {
    background: rgb(13, 193, 238);
}

.row {
    margin-bottom: 5rem;
}

.employee-card {
    margin-right: 1rem;
    margin-left: 1rem;
    border: none;
    font-weight: bolder;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.list-group-item {
    border: none;
    text-align: center;
}